* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  background-color: #1b1c2f;
}

.audio-player {
  width: 50px;
  top: 10px;
  left: 96%;
  position: absolute;
  z-index: 1;
}
.audio-player .player-controls {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
}
.audio-player #playAudio {
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  border: none;
  width: 30px;
  height: 30px;
  background: url("images/mute-2-xxl.png") no-repeat center;
  background-size: contain;
}
.audio-player #playAudio.pause {
  background: url("images/volume-up-4-xxl.png") no-repeat center;
  background-size: contain;
  cursor: pointer;
}

.logo {
  margin-top: 15px;
  margin-left: 15px;
  width: 0px;
}

#jpn-logo {
  width: 180px;
}

.memory-game {
  width: 750px;
  height: 750px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  background-color: #242540;
  perspective: 550px;
}

.memory-card {
  width: calc(25% - 10px);
  height: calc(33.333% -10px);
  margin: 4px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
  perspective: 400px;
}

.bottom-box {
  padding-top: 370px;
  padding-left: 150px;
}

#group {
  width: 350px;
  z-index: 1;
  position: absolute;
  right: 15px;
}
